.main-title-about-us {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 36px;
}

.about-team {
  color: #949494;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.about-us-background {
  background: url("../../src/img/Layer_15.png") #111111 50% 50% no-repeat;
  height: 600px;
}

.about-team-div {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-about-us {
  text-align: center;
}

.name {
  color: #ffffff;
  font-family: Roboto, Arial, Serif, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  @media (max-width: 349px) {
    font-size: 18px;

  }
}

.about-person {
  color: #949494;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  @media (max-width: 349px) {
    font-size: 14px;
  }
}

.image-card {
  @media (min-width: 446px) {
  position: relative;
  left: calc(50% - 135px / 2);
}
  display: none;
}
