.staying-in-hearts {
  background: url("../../src/img/YDN4IXOEP4.png") #333333 50% 50% no-repeat;
  height: 370px;

  span {
    color: #ffffff;
    font-family: Oswald, Arial, Serif, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }

  p {
    font-family: "Droid Sans - Regular", Arial, Serif, sans-serif;
    line-height: 50px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;

    b {
      font-family: "Great Vibes", Arial, Serif, sans-serif;
      font-size: 65px;
      font-weight: 400;
      line-height: 30px;
      color: #ffffff;
    }
  }
}

.Our-Founder-block {
  padding-top: 120px;
  padding-left: 20px;
}