.subscribe {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  span {
    color: #282828;
    font-family: "Droid Sans", Arial, Serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.88px;
    letter-spacing: 3.2px;
    margin-right: 30px;
  }
}