@font-face {
  font-family: "Proxima Nova";
  src: url(fonts/Proxima-Nova.otf);
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url(fonts/Proxima-Nova-light.otf);
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url(fonts/Proxima-Nova-Regular.otf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');